/* Máy tính bảng loại to (Chiều ngang) */
@media  (max-width: 768px){
    .container{
        width: 100%;
    }
    .header__top .header__top--left{
        max-width: 50%;
    }
    .header__main .col-menu{
        margin-top: -12px;
    }
    .header__main .header__main--Shopping-Cart{
        width: 100%;
        margin-left: 32px;
    }
    .main .main__title h1{
        font-size: 33px;
    }
    .main .main__services .main__services--MASSAGE p{
        width: 228px;
    }
    .button-view{
        margin-left: 245px;
    }
    /* ------- */
    .main-method .container .row .col-lg-4{
        height: 109px;
    }
    .container .freeship{
        background: url(../images/methood.png) no-repeat scroll 0px 27px;
        background-size: 61px;
        padding: 7px 0px 30px 88px;
    }
    .main-method .container .row .col-lg-4 h4{
        margin-top: 0px;
    }
    .container .Support{
        background: url(../images/methood.png) no-repeat scroll 9px -179px;
        background-size: 61px;
        height: 100px;
        padding: 7px 0px 30px 95px;
    }
    .container .Money{
        background: url(../images/methood.png) no-repeat scroll 8px -376px;
        height: 100px;
        background-size: 61px;
        padding: 7px 0px 30px 87px;
    }
    /* --------- */
    .main .main__best-seller .container>ul{
        flex-wrap:nowrap;
    }
    .main__the-bolg{
        max-width: 100%;
    }
    .banner{
        max-width: 100%;
        margin-left: 0px;
    }
    .banner img{
        width: 195px;
    }
    .footer .footer__top{
        padding: 84px 27px;
    }
    .footer .footer__top .col-xs-12 ul{
        width: 291px;
    }
    .footer__bottom .container{
        margin: 0;
    }
    .footer__bottom .container .row .col{
        margin-top: 29px;
    }
    .footer__nav{
        width: 100%;
    }
}