/* Media query chung */
@media all and (max-width: 1200px) {
  .nav-inner .navbar-header {
    padding: 23px 10px;
    display: block;
    position: relative;
  }

  .nav-inner .navbar-header button {
    float: right;
    font-size: 26px;
    background: transparent;
    border: none;
    margin-left: 46px;
  }

  .nav-inner .navbar-header span {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 4px;
  }

  .col-menu {
    width: 75%;
  }

  .header__main--Shopping-Cart {
    width: 28%;
  }

  .menu-box {
    position: absolute;
    top: 100%;
    z-index: 100;
    width: 25%;
    height: 236px;
    border: 1px solid #ddd;
    background: white;
    display: none;
    /* overflow: hidden; */
    margin-left: 10px;
  }

  .main__Shopping--product {
    left: 60%;
  }

  .primary-menu {
    position: relative;
    z-index: 120;
    line-height: 38px;
    padding: 0px 21px;
  }

  .header .header__main ul.header__main--menu {
    display: flex;
    flex-direction: column;
  }
  .header .header__main ul.header__main--menu li {
    padding: 0;
  }

  .header .header__main ul.header__main--menu > li + li::before {
    content: "";
    display: block;
    float: left;
    padding-right: 15px;
  }

  .header .header__main ul.header__main--menu {
    width: 146px;
    margin: 30px auto;
    line-height: 32px;
  }

  .header .header__main ul.header__main--menu li:nth-child(3) a::after,
  .header .header__main ul.header__main--menu li:nth-child(5) a::after {
    content: "";
    color: #999999;
    font-weight: normal;
    font-size: 21px;
    float: right;
  }

  .header .header__main ul.header__main--menu > li:nth-child(3)::after,
  .header .header__main ul.header__main--menu > li:nth-child(5)::after {
    content: "+";
    color: #999999;
    font-weight: normal;
    font-size: 21px;
    float: right;
  }

  .header .header__main ul.header__main--menu > li ul.more {
    left: 0;
  }

  .header .header__main ul.header__main--menu > li ul {
    height: 442px;
  }

  /*  */

  .header__top .header__top--left .top__left--wellcommsg {
    display: none;
  }

  .header .header__main .header__main--logo {
    width: 100%;
  }

  .header .header__main .header__main--logo img {
    width: 280px;
    display: block;
    margin: 0 auto;
  }

  .header__main .col-menu {
    width: 100%;
  }

  .header__main .header__main--Shopping-Cart {
    flex: auto;
    display: flex;
    justify-content: end;
  }

  .distance {
    display: block;
  }

  .main .main__services .main__services--MASSAGE p {
    padding: 24px 23px;
  }

  .main-method .row .col-lg-4 p {
    font-size: 11px;
  }

  .main__the-bolg {
    width: 100%;
  }

  .main__the-bolg .row .col {
    width: 100%;
  }
}

/*Máy tính bảng loại to chiều ngang*/
@media all and (min-width: 601px) and (max-width: 768px) {
  .preloader {
    top:0;
    right: 0;
  }

  .preloader img{
    width: 45%;
  }

  .main .main__title h1 {
    font-size: 24px;
  }

  .button-view {
    margin-left: 0;
  }

  .button-view {
    width: 100%;
    padding: 48px 161px;
    margin: 0;
  }

  .button-view button {
    margin: 0;
  }

  .header__top .header__top--right {
    float: right;
    max-width: 52%;
  }
  .main-method .container .row {
    flex-direction: column;
  }

  .main-method .container .row .col-lg-4 {
    overflow: hidden;
    width: 94%;
  }

  .main__Shopping--product {
    left: 18%;
  }

  .main .main__best-seller .container > ul {
    flex-wrap: nowrap;
  }

  .main .main__services .main__services--MASSAGE h4 {
    font-size: 16px;
  }

  .footer .footer__top {
    padding: 58px 49px;
  }

  .footer__nav {
    width: 100%;
  }

  .back-to-top {
    left: 75%;
    right: 0;
  }

  .main__the-bolg .row {
    flex-direction: column;
  }
}

/*Màn hình máy tính nhỏ chiều ngang*/
@media all and (min-width: 769px) and (max-width: 1024px) {
  .product-header img {
    height: inherit;
  }

  .main__Shopping--product {
    margin-left: -14%;
  }
  .main .main__title h1 {
    font-size: 38px;
  }

  .button-view {
    margin-left: 0;
  }

  .button-view {
    width: 100%;
    padding: 40px 260px;
    margin: 0;
  }

  .button-view button {
    margin: 0;
  }

  .main-method .container .row {
    flex-direction: column;
  }

  .main-method .container .row .col-lg-4 {
    overflow: hidden;
    width: 94%;
  }

  .main .main__best-seller .container > ul {
    flex-wrap: nowrap;
  }

  .footer .footer__top {
    padding: 105px 49px;
  }

  .footer__nav {
    width: 100%;
  }

  .back-to-top {
    left: 80%;
    right: 0;
  }

  .preloader {
    top: 50%;
    right: 33%;
  }
}


/*Máy moblie chiều ngang*/
@media all and (min-width: 321px) and (max-width: 480px) {
  .header__top .header__top--left {
    max-width: 70%;
  }

  .header__top a span {
    display: none;
  }

  .header__top a {
    font-size: 13.5px;
  }

  .header__top .top__right--account-wish ul > li:nth-child(2) .fa::after {
    content: "(0)";
    padding-left: 5px;
  }

  .header__top .header__top--right .top__right--search {
    width: 190%;
    height: 100%;
    position: absolute;
    left: -161px;
  }

  .header__top .header__top--right .top__right--search i.fa.fa-search {
    float: right;
    padding: 5px 0px;
  }
  /* End .header__top */

  .menu-box {
    width: 61%;
  }

  .header .header__main ul.header__main--menu > li ul li > a {
    padding: 4px 10px;
  }

  .header__main .header__main--Shopping-Cart .main__Shopping--text {
    display: none;
  }

  .main__Shopping--product {
    left: -234%;
  }
  /* End .main__Shopping--product */

  .main .main__services .row {
    flex-direction: column;
  }

  .main .main__services .main__services--MASSAGE {
    margin-bottom: 20px;
  }

  .main .main__services .main__services--MASSAGE h4 {
    padding-top: 10px;
    font-size: 12px;
    color: #000000;
  }
  .main .main__services .row .main__services--MASSAGE button {
    font-size: 13px;
  }
  .main .main__title h1 {
    font-size: 30px;
    padding: 47px 0px 16px 0px;
  }
  .main .main__title h5 {
    font-size: 12px;
  }
  /* End .main .main__title */

  .main__list-product .wapper-product {
    display: flex;
    flex-direction: column;
    width: max-content;
  }

  .product .product-button {
    left: 8px;
    position: absolute;
  }
  /* End .main__list-product */

  .main .main__designer .introduce p {
    font-size: 13px;
  }
  /*  */

  .main-method .container .row {
    flex-direction: column;
  }

  .main-method .container .row .col-lg-4 {
    height: 122px;
  }

  .main-method .container .row .col-lg-4 {
    width: 91%;
    margin: 13px 0px 0px 15px;
  }

  .container .freeship {
    background: url(../images/methood.png) no-repeat scroll 34px 19px;
    padding: 0px 0px 25px 127px;
  }

  .container .Support {
    background: url(../images/methood.png) no-repeat scroll 43px -136px;
    padding: 0px 0px 14px 130px;
  }

  .container .Money {
    background: url(../images/methood.png) no-repeat scroll 50px -280px;
    padding: 0px 0px 12px 127px;
  }
  /* End .main-method */

  .main .main__best-seller .container > ul > li,
  .main .main__best-seller .container > ul > li:nth-child(3) {
    width: 100%;
    height: 51px;
    margin: 10px 0px;
  }
  /* End */

  .main .main__title {
    margin: 0px 10px;
  }

  .Brands .banner-header {
    margin: 0px 0px 36px 0px;
  }

  .Blog {
    position: unset;
  }

  .main__the-bolg .row .col {
    margin-top: 0;
  }

  .main__the-bolg .row .col:nth-child(3) {
    display: none;
  }

  .button-view {
    margin-left: 0;
  }

  .main__the-bolg .row {
    flex-direction: column;
  }
  /* End .main__the-bolg */

  .footer .footer__top {
    background: url(../images/news-Bg.jpg) no-repeat;
    background-position: center;
    background-size: 220%;
    height: 405px;
    padding: 0;
    font-size: 11px;
  }

  .footer .footer__top button {
    padding: 13px 16px 14px 4px;
  }

  .footer .footer__top .container .col p {
    margin-top: 26px;
  }

  .footer__nav {
    width: 100%;
  }

  .back-to-top {
    bottom: 7%;
    right: 63%;
    display: none;
  }
}

/*Máy tính bảng chiều ngang*/
@media all and (min-width: 481px) and (max-width: 600px) {
  .header__top .header__top--right .top__right--search {
    display: none;
  }
  .main__Shopping--product {
    left: -24%;
  }
  .main .main__services .main__services--MASSAGE h4 {
    padding-top: 10px;
    font-size: 12px;
    color: #000000;
  }
  .main .main__services .row .main__services--MASSAGE button {
    font-size: 13px;
  }
  .main .main__title h1 {
    font-size: 21px;
  }
  .main .main__title h5 {
    font-size: 12px;
  }
  .main-method .container .row {
    flex-direction: column;
  }
  .main-method .container .row .col-lg-4 {
    width: 91%;
  }

  .main .main__best-seller .container > ul > li:nth-child(3),
  .main .main__best-seller .container > ul > li:nth-child(4),
  .main .main__best-seller .container > ul > li:nth-child(5) {
    display: none;
  }

  .main__the-bolg .row {
    flex-direction: column;
  }

  .main__the-bolg .row .col {
    margin-top: 0;
  }

  .main .main__services .row {
    flex-direction: column;
  }

  .main .main__services .main__services--MASSAGE {
    margin-bottom: 20px;
  }

  .footer .footer__top {
    padding: 0;
  }

  .footer .footer__top .container .col p {
    padding-bottom: 11px;
    margin-top: 26px;
  }

  .footer__nav {
    text-align: left;
  }
}


